<!DOCTYPE html>
<html>
<head>
  <title>ToyApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="//rum-static.pingdom.net/pa-5c63f0521872b500160005c6.js" async></script>
</head>
<body>

<%= yield %>

</body>
</html>
